html, body{
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  color: #444;
}
header{
  height: inherit;
}
/*Default Section*/
body p{
  line-height: 1.8em;
}
img{
  max-width: 100%;
}
img.box-image{
  padding: 15px;
  border: 1px solid #ececec;
  /*box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);*/
}
h1,h2,h3,h4,h5,h6{color: #222;}
.default-padding{
  padding: 50px 0;
}
a{
  color: #444;
}
a:hover,
a.btn-social:hover{
  color: #F27849;
}
/*Text color*/
.text-light h1, .text-light h2, .text-light h3,
.text-light h4, .text-light h5, .text-light h6,
.text-light p, .text-light span, .text-light
{color: white;}
.v-padding{
  padding: 100px 0;
}
.bottom-margin{
  margin-bottom: 30px;
}
.bottom-padding{
  padding-bottom: 3em;
}
.bg-fixed{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.form-control,
input[type="text"],textarea{
  background-color: #f4f4f4;
}

/*btn button*/
.btn{
  border-radius: 20em;
  background-color: white;
  border: 2px solid;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2em;
  padding: 8px 22px;
  transition: all .6s ease-in-out;
}
.btn.btn-social{
  padding: 6px 12px;
}
.btn.btn-social{
  width: 40px;
  height: 40px;
  line-height: 25px;
  color: #444;
}
.btn-red:hover,
.btn-dark-submit:hover,
.btn.btn-red-fill{
  color: white;
  border-color: #b43434;
  background-color: #b43434;
}
.btn-o-dark:hover,
.btn-dark:hover,
.btn-dark-submit,
.btn.btn-dark-fill{
  color: white;
  border-color: #222;
  background-color: #222;
}
.btn-red,
.btn.btn-red-fill:hover{
  background-color: transparent;
  color: #b43434;
}
.btn-dark,
.btn.btn-dark-fill:hover{
  background-color: transparent;
  color: #222;
}
.btn-light-o,
.btn-light{
  background-color: transparent;
  border-color: white;
  color: white;
}
.btn-light-fill-o,
.btn-light-fill,
.btn-light:hover{
  background-color: #fff;
  color: #222;
  border-color: #fff;
}
.btn-o-dark,
.btn-light-o:hover,
.btn-light-fill-o:hover{
  background-color: #F27849;
  border-color: #F27849;
  color: #fff;
}



/*Section-area heading*/
.area-heading{
  display: block;
  overflow: hidden;
}
.area-heading h2{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}
.area-heading::after{

}

/*navbar Area*/
.navbar{
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  transition: all .4s ease-in-out;
}
.navbar-landing{
  /*
  background-color: #fff;
  border-bottom:1px solid #e7e7e7;
  */
  padding: 10px 0;
}
.navbar-brand.scrolled:hover,
.navbar-brand.scrolled{
  color: #F27849;
}
a.navbar-brand,
a.navbar-brand:hover,
.navbar a{
  color: #fff;
}
a.scrolled{
  color: #444;
}
.nav a{
  text-transform: uppercase;
}
a:hover,a:focus,
.navbar-landing .nav >li.active>a,
.navbar-landing .nav >li.active>a:hover,
.navbar-landing .nav >li>a:hover{
  color: #F27849 ;
  text-decoration: none;
  background-color: transparent;
}
.navbar-landing .navbar-toggle{
  border-color: #232323;
}
.navbar-landing .navbar-toggle .icon-bar{
  background-color: #232323;
}
.navbar-brand{
  font-family: 'Playball',cursive;
  font-size: 50px;
}

/*coverArea*/
.coverArea{
  height: 100%;
  background-size: cover;
  background-position: bottom center;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: color-burn;
}
.coverCaption{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  color: #fff;
}
.coverCaption h1{
  font-size: 70px;
  color: #F27849;
}
.coverCaption p{
  line-height: normal;
}
.coverCaption h1 span{
  font-family: 'Playball',cursive;
}

.aboutArea h2{
  text-transform: uppercase;
  font-weight: 900;
}
.aboutArea p{
  margin-bottom: 40px;
}
.thumb .box-image{
  background: url('../Images/bg-f.png') top left no-repeat;
}
.skill-info > h4 > span.badge{
  background-color: #F27849;
}
.progress{
  height: 10px;
  box-shadow: none;
  background-color: #f4f4f4 ;
}
.progress > .progress-bar{
  background-color: #F27849;
  box-shadow: none;
}

.owl-item{
  /*font-size: 15px;*/
  font-weight: 300;
  padding: 40px 30px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}
.owl-item i{
  font-size: xx-large;
  padding-bottom: 11px;
}
.owl-item h4{
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
  text-transform: capitalize;
}
.owl-item ul{
  list-style: square;
}
.owl-item div.meta{
  width: 100%;
  display: table;
  border-top: 1px solid #e7e7e7;
  padding-top: 25px;
  margin-top: 25px;
}
.owl-item div.meta div{
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  float: left;
}
.owl-item div.meta img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  float: left;
}
.owl-item div.meta h5{
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.google-map iframe{
  width: 100%;
  height: 450px;
}

/*Filtering menu*/
#ourHolder .pf-item{
  width: 33.33333%;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  overflow: hidden;
}

ul#filterOptions {
  height: 52px;
  margin: 30px auto;
  overflow: hidden;
  list-style: none;
}
ul#filterOptions li { height: 52px; margin-right: 2px; float: left; }
ul#filterOptions li a {
  padding: 0 20px;
  border: 1px solid #999;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
ul#filterOptions li a:hover { background: #c9c9c9; }
ul#filterOptions li.active a { background: #999; }

/*Responsive Options*/
@media only screen and (max-width:755px) {
  #topMenu{
    background-color: #fff;
  }
  a.page-scroll{
    color: #222;
  }
  #ourHolder .pf-item{
	  width:100%;
  }
}